USE [master]
GO
/****** Object:  Database [ChangeItCubes]    Script Date: 28/6/2021 11:43:12 ******/
CREATE DATABASE [ChangeItCubes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChangeItCubes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLP2\MSSQL\DATA\ChangeItCubes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChangeItCubes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLP2\MSSQL\DATA\ChangeItCubes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChangeItCubes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChangeItCubes]
GO
/****** Object:  Table [dbo].[AdsAmounts]    Script Date: 28/6/2021 11:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdsAmounts](
	[AdsAmountsId] [bigint] IDENTITY(1,1) NOT NULL,
	[Views] [int] NOT NULL,
	[Shares] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[RestaurantId] [int] NOT NULL,
	[FechaId] [bigint] NOT NULL,
	[CampañaId] [bigint] NOT NULL,
	[LocationId] [bigint] NOT NULL,
 CONSTRAINT [PK_AdsAmounts] PRIMARY KEY CLUSTERED 
(
	[AdsAmountsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campañas]    Script Date: 28/6/2021 11:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campañas](
	[CampañaId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Campañas] PRIMARY KEY CLUSTERED 
(
	[CampañaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fechas]    Script Date: 28/6/2021 11:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fechas](
	[fechaId] [bigint] IDENTITY(1,1) NOT NULL,
	[mes] [int] NOT NULL,
	[year] [int] NOT NULL,
	[día] [int] NOT NULL,
	[fecha] [date] NOT NULL,
 CONSTRAINT [PK_Fechas] PRIMARY KEY CLUSTERED 
(
	[fechaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locaciones]    Script Date: 28/6/2021 11:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locaciones](
	[LocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Population] [int] NOT NULL,
	[Location] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Locaciones] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurantes]    Script Date: 28/6/2021 11:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurantes](
	[RestaurantId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[LocationId] [bigint] NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Restaurantes] PRIMARY KEY CLUSTERED 
(
	[RestaurantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdsAmounts]  WITH CHECK ADD  CONSTRAINT [FK_AdsAmounts_Campañas] FOREIGN KEY([CampañaId])
REFERENCES [dbo].[Campañas] ([CampañaId])
GO
ALTER TABLE [dbo].[AdsAmounts] CHECK CONSTRAINT [FK_AdsAmounts_Campañas]
GO
ALTER TABLE [dbo].[AdsAmounts]  WITH CHECK ADD  CONSTRAINT [FK_AdsAmounts_Fechas] FOREIGN KEY([FechaId])
REFERENCES [dbo].[Fechas] ([fechaId])
GO
ALTER TABLE [dbo].[AdsAmounts] CHECK CONSTRAINT [FK_AdsAmounts_Fechas]
GO
ALTER TABLE [dbo].[AdsAmounts]  WITH CHECK ADD  CONSTRAINT [FK_AdsAmounts_Locaciones] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locaciones] ([LocationId])
GO
ALTER TABLE [dbo].[AdsAmounts] CHECK CONSTRAINT [FK_AdsAmounts_Locaciones]
GO
ALTER TABLE [dbo].[AdsAmounts]  WITH CHECK ADD  CONSTRAINT [FK_AdsAmounts_Restaurantes] FOREIGN KEY([RestaurantId])
REFERENCES [dbo].[Restaurantes] ([RestaurantId])
GO
ALTER TABLE [dbo].[AdsAmounts] CHECK CONSTRAINT [FK_AdsAmounts_Restaurantes]
GO
ALTER TABLE [dbo].[Restaurantes]  WITH CHECK ADD  CONSTRAINT [FK_Restaurantes_Locaciones] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locaciones] ([LocationId])
GO
ALTER TABLE [dbo].[Restaurantes] CHECK CONSTRAINT [FK_Restaurantes_Locaciones]
GO
USE [master]
GO
